body {
    font-family: 'Lato', sans-serif;
    min-height: 100%;
    position: relative;
    
}
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 } 
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 766px;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.logo {
    margin-top: 15px; 
}
.floatL{
    float: left;
    margin-right: 25px;
}
.floatL22{
    float: left;
    margin-right: 15px;
    margin-top: 25px;
}
.floatL2{
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}
.sol {
    margin-top: 300px;
    color: white;
    word-spacing: 5px;
     line-height: 25px;
}
.sol br {
        line-height: 120%;
     }
.about {
    height: auto;
    padding: 70px 0px;
}
.numb {
    margin-top: 10px;
}
.services {
    background-color: #f6f6f6;
    height: auto;
    padding: 70px 0px;
    font-size: 18px;
    line-height: 35px;
}
.news {
    height: 353px;
    color: white;
    padding: 60px;
    width: 100%;
}
.newsletter {
    color: #1f1f1f;
    background-color: #dfdfdf;
    height: 70px;
    width: 100%;
    font-size: 24px;
    padding: 15px 25px;
    border: none;
}
.newu {
    width: 50%;
    height: auto;
    margin: 0 auto;
}
.sign {
    float: right;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    font-size: 28px;
    text-decoration: underline;
    text-decoration-color: yellow;
    font-weight: 300;
}
.works {
    min-height: 780px;
    background-color: #fff;
    padding: 60px 0px 25px 0px;
}
.menuG {
    margin: 0 auto;
    display: block;
    width: 330px;
}
.menuG a{
    color: black;
    text-decoration: none;
    display: block;
}
.menuG li{
    display: inline;
}
.menuG a{
    display: block;
    float: left;
    padding: 0px 10px;
}
.paddingBS {
 padding: 0px;
 margin: 0px;
}
.mtop {
    margin-top: 25px;
}
.prices {
    min-height: 700px;
    background-image: url(img/prices.jpg);
    background-position:center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 60px 0px 25px 0px;
    color: #fff;
    font-weight: 300;
    
}
.prices h1,h2,h3,h4{
    font-weight: 300;
}
.bord1 ul {
    list-style-image: url('img/ulgrey.png');
    line-height: 28px;
}
.bord2 ul {
    list-style-image: url('img/ulgreen.png');
    line-height: 28px;
}
.bord3 ul {
    list-style-image: url('img/ulyellow.png');
    line-height: 28px;
}
.bord4 ul {
    list-style-image: url('img/ulred.png');
    line-height: 28px;
}
.bord1 {
    
    border: 2px solid #5e5e5e;
    border-right: none;
    margin-top: 20px;
    min-height: 450px;
    padding: 25px 35px;
    
}
.bord2 {
    border: 2px solid #1d6e14;
    border-right: none;
    margin-top: 20px;
    min-height: 450px;
    padding: 25px 35px;
}.bord3 {
    border: 2px solid #8a8616;
    min-height: 490px;
    padding: 15px 35px;
}
.bord4 {
    border: 2px solid #842215;
    border-left: none;
    margin-top: 20px;
    min-height: 450px;
    padding: 25px 35px;
}
.mth {
    margin-top: 10px;
}
.mthmin {
    margin-top: 0px;
}
.mtpo {
    margin-top: 50px;
}
.process {
    margin: 15px 0px -100px;
}
.mak {
    font-size: 18px;
}
.box2 {
    padding-top: 50px;
}
.d5 {
    margin-top: -20px;
}
/*===== Vertical Timeline =====*/
#conference-timeline {
  position: relative;
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
}
#conference-timeline .timeline-start,
#conference-timeline .timeline-end {
  display: table;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  background: #ffeb0a;
  padding: 15px 23px;
  color: #fff;
  max-width: 5%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#conference-timeline .conference-center-line {
  position: absolute;
  width: 3px;
  height: 73%;
  top: 0;
margin-top: 50px;
  left: 50%;
  margin-left: -2px;
  background: #ffeb0a;
  z-index: -1;
}
#conference-timeline .conference-timeline-content {
  padding-top: 100px;
  padding-bottom: 67px;
}
.timeline-article {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: -60px 0;
}
.timeline-article .content-left-container,
.timeline-article .content-right-container {
  max-width: 44%;
  width: 100%;
}
.timeline-article .content-left,
.timeline-article .content-right {
  position: relative;
  width: auto;
  padding: 27px 25px;
}
.timeline-article p {
  margin: 0px;
  padding: 0;
  font-weight: 400;
  color: #242424;
  position: relative;
}
.timeline-article .content-left-container {
  float: left;
}
.timeline-article .content-right-container {
  float: right;
}
.timeline-article .content-left:before,
.timeline-article .content-right:before{
  position: absolute;
  top: 20px;
  font-size: 12px;
  font-family: "FontAwesome";
  color: #fff;
}
.timeline-article .content-left:before {
  content: "\f0da";
  right: -8px;
}
.timeline-article .content-right:before {
  content: "\f0d9";
  left: -8px;
}
.timeline-article .meta-date {
  position: absolute;
  top: 0;
  left: 50%;
  width: 62px;
  height: 62px;
  margin-left: -31px;
  color: #000;
  border-radius: 100%;
  background: #fff;
  border: 3px solid #ffeb0a;
}
.timeline-article .meta-date .date,
.timeline-article .meta-date .month {
  display: block;
  text-align: center;
  font-weight: 400;
}
.timeline-article .meta-date .date {
  font-size: 30px;
  line-height: 56px;
    color: #1c1c1c;
}

/*===== // Vertical Timeline =====*/

/*===== Resonsive Vertical Timeline =====*/
@media only screen and (max-width: 830px) {
  #conference-timeline .timeline-start,
  #conference-timeline .timeline-end {
    margin: 0;
  }
  #conference-timeline .conference-center-line {
    margin-left: 0;
    left: 50px;
  }
  .timeline-article .meta-date {
    margin-left: 0;
    left: 20px;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 100%;
    width: auto;
    float: none;
    margin-left: 110px;
    min-height: 53px;
  }
  .timeline-article .content-left-container {
    margin-bottom: 20px;
  }
  .timeline-article .content-left,
  .timeline-article .content-right {
    padding: 10px 25px;
    margin-bottom: 100px;
    min-height: 65px;
  }
  .timeline-article .content-left:before {
    content: "\f0d9";
    right: auto;
    left: -8px;
  }
  .timeline-article .content-right:before {
    display: none;
  }
        .d5 {
    margin-top: 0px;
}
}
@media only screen and (max-width: 400px) {
  .timeline-article p {
    margin: 0;
  }
  .timeline-article p span.article-number {
    display: none;
  }
    .d5 {
    margin-top: 0px;
}
  
}
/*===== // Resonsive Vertical Timeline =====*/
h3 {
    margin: 0px;
    margin-bottom: 5px;
}
.lowbudget {
    background-image: url(img/low-budget.jpg);
    min-height: 333px;
    position: relative;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.textali {
    position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
  font-weight: 900;
font-size: 30px;
    text-align: center;
}
.juniors {
    height: 333px;
    background-color: #f5f5f5;
    padding: 35px 50px;
    font-size: 20px;
    line-height: 24px;
}
.contact {
    height: 600px;
    position: relative;
}
.mtopb {
    margin-top: 100px;
}
.contactF {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    margin-left: 15px;
    width: 80%;
    margin-top: 20px;
    font-size: 18px;
}
.contactF:focus {
    border: none;
    border-bottom: 1px solid #ffeb0a;
}
textarea:focus, input:focus{
    outline: none;
}
.m0 {
    margin-top: -50px;
}
.contactsend {
    float: right;
    margin-right: 100px;
    margin-top: 20px;
    background: transparent;
    border: none;
    font-size: 22px;
    font-weight: 900;
}
.antyfloat {
    clear: both;
    margin-bottom: 100px;
}
.contactP {
    color: white;
    font-size: 18px;
    padding: 50px;
}
.contactPr {
    background-color: black;
    min-height: 600px;
    margin: 0;
    
}
.con {
    margin-top: 50px;
    line-height: 40px;
}
.footer {
    background-color: #030303;
    height: 70px;
    padding: 20px;
    
}
.navbar-inversee {
    background-color: red;
}
.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;
}
.navbar-collapse.collapse.in{
  display:block !important;
}
.low {
    position: relative;
}
.ontop {
    height: 333px;;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.ontop2 {
    height: auto;
    padding-top: 50px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.lowbu {
    padding: 25px;
}

@media only screen and (max-width: 1024px) {
    .siedem {
        font-size: 14px;
        line-height: 14px;
    }
    .mD10 {
        margin-bottom: 50px;
    }
}@media only screen and (max-width: 990px) {
    .contact {
        height: 1100px;
    }
    .bord1 {
    border: 2px solid #5e5e5e;
    width: 80%;
    margin: 20px auto 0px;
        height: auto;
}
.bord2 {
    border: 2px solid #1d6e14;
    width: 80%;
    margin: 20px auto 0px;
    height: auto;
}
    .bord3 {
    border: 2px solid #8a8616;
    width: 80%;
    margin: 20px auto 0px;
    height: auto;
}
.bord4 {
    border: 2px solid #842215;
    width: 80%;
    margin: 20px auto 0px;
    height: auto;
}
}
@media only screen and (max-width: 768px) {
    .siedem {
        font-size: 16px;
        line-height: 16px;
    }
.contactF {
    margin-left: 15px;
    width: 80%;
    }
    .contactP {
    margin-top: 30px;
    padding: 50px 15px;
}
    .mD10 {
        margin-bottom: 80px;
    }

}
@media only screen and (max-width: 425px) {
    .contactsend {
        margin-right: 0px;
}
    
    }